{% extends "layout.html" %}

{% block content %}
    {% for note in notes.items %}
        <article class="d-flex content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='photo/' + note.author.image_file) }}" alt="profile photo" >
            <div class="media-body">
                <div class="article-metadata">
                    <a class="me-2" href="#">{{ note.author.username }}</a>
                    <small class="text-muted">{{ note.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('note', note_id=note.id) }}">{{ note.title }}</a></h2>
                <!-- Use | safe filter here -->
                <p class="article-content">{{ note.content | safe }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page_num in notes.iter_pages() %}
        {% if page_num %}
            <a class="btn btn-outline-warning mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            ...
        {% endif %}
    {% endfor %}


{% endblock content %}
