{% extends "layout.html" %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='photo/' + note.author.image_file) }}" alt="profile photo">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ note.author.username }}</a>
                <small class="text-muted">{{ note.date_posted.strftime('%Y-%m-%d') }}</small>
                {% if note.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('edit_note', note_id=note.id) }}">Edit</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ note.title }}</h2>
            <p class="article-content">{{ note.content  | safe}}</p>
        </div>
    </article>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Note?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <!-- Close button with a more refined design -->
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-times-circle"></i> Close
                    </button>
                    <!-- Delete button with an updated design -->
                    <form action="{{ url_for('delete_note', note_id=note.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
